*:not(tooltip):not(menu):not(menuitem) {
	all: unset;
}

tooltip {
	background-color: rgba(0, 0, 0, .9);
}

#waybar {
	background-color: black;
	font-family: 'Hack Nerd Font', monospace;
	font-size: 9pt;
}

#workspaces>* {
	padding: 0 4px;
}

#workspaces>*:hover {
	color: #10e3e3;
}

#workspaces button.focused {
	color: #ff00ff;
}

#workspaces button.urgent {
	color: #ff0033;
}

#scratchpad {
	margin-left: -2px;
}

#clock {
	padding: 0 4px;
}

#network {
	padding-left: 2px;
}

#custom-vpn {
	padding-right: 2px;
}

#cpu,
#memory,
#pulseaudio,
#backlight,
#battery,
#tray,
#idle_inhibitor,
#custom-noti,
#custom-power {
	padding: 0 2px;
}

/* #cpu.critical, #memory.critical */